<div class="container body_main body_form">
    <br>
    <h2>
        Editar matricula del estudiante retirado
    </h2>
    <hr>
    <form action="/actualizar_matricula/{{estudiante.documento}}" method="post">
        <div class="row">

            {{!-- Columna 1 --}}
            <div class="col">
                <div class="form-group">
                    <label for="nombres">Nombres:</label>
                    <input type="text" value="{{estudiante.nombres}}" class="form-control" name="nombres"
                        placeholder="Nombres" autofocus>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" value="{{fnac}}" class="form-control" name="fecha_nacimiento"
                        placeholder="Fecha de nacimiento" autofocus>
                </div>
                {{!-- Acudiente --}}
                <div class="form-group">
                    <label for="tipo_documento">Acudiente:</label>
                    <select class="form-control" name="acudiente" id="acudiente">
                        <optgroup label="Actual">
                            <option value="{{estudiante.acudiente}}" selected>{{acudiente_actual.parentesco}}:
                                {{acudiente_actual.nombres}} {{acudiente_actual.apellidos}} - CC:
                                {{acudiente_actual.documento}}</option>
                        </optgroup>
                        <optgroup label="Selecciona el acudiente">
                            {{#each acudiente}}
                            <option value="{{documento}}">{{parentesco}}: {{nombres}} {{apellidos}} - CC: {{documento}}
                            </option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>

                {{!-- Grupo --}}
                <div class="form-group">
                    <label for="tipo_documento">Grupo:</label>
                    <select class="form-control" name="grupo" id="grupo">
                        <optgroup label="Actual">
                            <option value="{{estudiante.grupo}}" selected>{{grupo_actual.nombre}}</option>
                        </optgroup>
                        <optgroup label="Selecciona el grupo">
                            {{#each grupo}}
                            <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="correo">Correo electronico:</label>
                    <input type="email" value="{{estudiante.correo}}" class="form-control" name="correo"
                        placeholder="Correo" autofocus>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" value="{{estudiante.contrasena}}" class="form-control" name="contrasena"
                        placeholder="Contraseña" autofocus>
                </div>
            </div>

            {{!-- Columna 2 --}}
            <div class="col">
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" value="{{estudiante.apellidos}}" class="form-control" name="apellidos"
                        placeholder="Apellidos" autofocus>
                </div>
                {{!-- Tipo de documento --}}
                <div class="form-group">
                    <label for="tipo_documento">Tipo de documento:</label>
                    <select class="form-control" name="tipo_documento" id="tipo_documento">
                        <optgroup label="Actual">
                            <option value="{{estudiante.tipo_documento}}" selected>{{estudiante.tipo_documento}}
                            </option>
                        </optgroup>
                        <optgroup label="Selecciona el tipo de documento">
                            <option value="Registro civil">Registro civil</option>
                            <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                            <option value="Cedula de ciudadania">Cedula de ciudadania</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input type="text" value="{{estudiante.telefono}}" class="form-control" name="telefono"
                        placeholder="Telefono" autofocus>
                </div>
                {{!-- Grado --}}
                <div class="form-group">
                    <label for="tipo_documento">Grado:</label>
                    <select class="form-control" name="grado" id="grado">
                        <optgroup label="Actual">
                            <option value="{{estudiante.grado}}" selected>{{grado_actual.grado}}</option>
                        </optgroup>
                        <optgroup label="Selecciona el grado">
                            {{#each grado}}
                            <option value="{{id}}">{{grado}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
                {{!-- Sede --}}
                <div class="form-group">
                    <label for="tipo_documento">Sede:</label>
                    <select class="form-control" name="sede" id="sede">
                        <optgroup label="Actual">
                            <option value="{{estudiante.sede}}" selected>{{sede_actual.nombre}}</option>
                        </optgroup>
                        <optgroup label="Selecciona la sede">
                            {{#each sede}}
                            <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>

                {{!-- Jornada --}}
                <div class="form-group">
                    <label for="tipo_documento">Jornada:</label>
                    <select class="form-control" name="jornada" id="jornada">
                        <optgroup label="Actual">
                            <option value="{{estudiante.jornada}}" selected>{{jornada_actual.jornada}}</option>
                        </optgroup>
                        <optgroup label="Selecciona la jornada">
                            {{#each jornada}}
                            <option value="{{id}}">{{jornada}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group menuButtons">

            <div class="row">
                <div class="col">
                    <a id="restablecerA" class="btn btn-info btn-block">Volver a matricular estudiante</a>
                </div>
                <div class="col">
                    <a id="eliminarA" class="btn btn-danger btn-block">Eliminar estudiante</a>
                </div>
            </div>
            <a id="listar" href="/estudiantes" class="btn btn-secondary btn-block">Cancelar</a>
        </div>

        <button id="matricular" class="btn btn-primary btn-block" style="visibility: hidden;">
            Matricular
        </button>
    </form>

    <form action="/eliminarEstudiante/{{estudiante.documento}}" method="post" style="visibility: hidden;">
        <button id="eliminar" type="submit" style="visibility: hidden;"></button>
    </form>

    <script>
        document.querySelector('#eliminarA').addEventListener('click', () => {
            Confirm.open({
                title: 'Eliminar estudiante',
                message: '¿Desea eliminar el estudiante? esta accion no se puede deshacer',
                okText: "Eliminar",
                onok: () => {
                    document.getElementById('eliminar').click();
                }

            })
        });

        document.querySelector('#restablecerA').addEventListener('click', () => {
            Confirm.open({
                title: 'Volver a matricular estudiante',
                message: '¿Desea volver a matricular el estudiante y actualizar los datos de este?',
                onok: () => {
                    document.getElementById('matricular').click();
                }
            })
        });

        const Confirm = {
            open(options) {
                options = Object.assign(
                    {},
                    {
                        title: "",
                        message: "",
                        okText: "Matricular",
                        cancelText: "Cancelar",
                        onok: function () { },
                        oncancel: function () { },
                    },
                    options
                );

                const html = `
            <div class="confirm">
                <div class="confirm__window">
                    <div class="confirm__titlebar">
                        <span class="confirm__title">${options.title}</span>
                        <button class="confirm__close">&times;</button>
                    </div>
                    <div class="confirm__content">${options.message}</div>
                    <div class="confirm__buttons">
                        <button class="confirm__button confirm__button--ok confirm__button--fill">${options.okText}</button>
                        <button class="confirm__button confirm__button--cancel">${options.cancelText}</button>
                    </div>
                </div>
            </div>
        `;

                const template = document.createElement("template");
                template.innerHTML = html;

                // Elements
                const confirmEl = template.content.querySelector(".confirm");
                const btnClose = template.content.querySelector(".confirm__close");
                const btnOk = template.content.querySelector(".confirm__button--ok");
                const btnCancel = template.content.querySelector(
                    ".confirm__button--cancel"
                );

                confirmEl.addEventListener("click", (e) => {
                    if (e.target === confirmEl) {
                        options.oncancel();
                        this._close(confirmEl);
                    }
                });

                btnOk.addEventListener("click", () => {
                    options.onok();
                    this._close(confirmEl);
                });

                [btnCancel, btnClose].forEach((el) => {
                    el.addEventListener("click", () => {
                        options.oncancel();
                        this._close(confirmEl);
                    });
                });

                document.body.appendChild(template.content);
            },

            _close(confirmEl) {
                confirmEl.classList.add("confirm--close");

                confirmEl.addEventListener("animationend", () => {
                    document.body.removeChild(confirmEl);
                });
            },
        };

    </script>
</div>