<div class="container body_main body_form">
    <br>
    <h2>
        Matricular alumno
    </h2>
    <hr>
    <form action="/matricular_estudiante" method="post">
        <div class="row">
            {{!-- Columna 1 --}}
            <div class="col">
                <div class="form-group">
                    <label for="nombres">Nombres:</label>
                    <input id="nombresId" type="text" class="form-control" name="nombres" placeholder="Nombres"
                        autofocus>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="documento">Documento:</label>
                            <input id="documentoId" type="number" class="form-control" name="documento"
                                placeholder="Documento" autofocus>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="tipo_documento">Tipo de documento:</label>
                            <select class="form-control" name="tipo_documento" id="tipo_documento">
                                <option value="Registro civil">Registro civil</option>
                                <option value="Tarjeta de identidad">Tarjeta de identidad</option>
                                <option value="Cedula de ciudadania">Cedula de ciudadania</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input id="fechaId" type="date" class="form-control" name="fecha_nacimiento"
                        placeholder="Fecha de nacimiento" autofocus>
                </div>
                <div class="row">
                    <div class="col">
                        {{!-- Sede --}}
                        <div class="form-group">
                            <label for="tipo_documento">Sede:</label>
                            <select class="form-control" name="sede" id="sede">
                                {{#each sede}}
                                <option value=" {{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                            {{test}}
                        </div>
                    </div>
                    <div class="col">
                        {{!-- Jornada --}}
                        <div class="form-group">
                            <label for="tipo_documento">Jornada:</label>
                            <select class="form-control" name="jornada" id="jornada">
                                {{#each jornada}}
                                <option value="{{id}}">{{jornada}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="correo">Correo electronico:</label>
                    <input id="correoId" type="email" class="form-control" name="correo" placeholder="Correo" autofocus>
                </div>
            </div>

            {{!-- Columna 2 --}}
            <div class="col">
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <input id="apellidosId" type="text" class="form-control" name="apellidos" placeholder="Apellidos"
                        autofocus>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input id="telefonoId" type="number" class="form-control" name="telefono" placeholder="Telefono"
                        autofocus>
                </div>
                {{!-- Acudiente --}}
                <div class="form-group">
                    <label for="tipo_documento">Acudiente:</label>
                    <select class="form-control" name="acudiente" id="acudiente">
                        {{#each acudiente}}
                        <option value="{{documento}}">{{parentesco}}: {{nombres}} {{apellidos}} - CC: {{documento}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        {{!-- Grado --}}
                        <div class="form-group">
                            <label for="tipo_documento">Grado:</label>
                            <select class="form-control" name="grado" id="grado">
                                {{#each grado}}
                                <option value="{{id}}">{{grado}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        {{!-- Grupo --}}
                        <div class="form-group">
                            <label for="tipo_documento">Grupo:</label>
                            <select class="form-control" name="grupo" id="grupo">
                                {{#each grupo}}
                                <option value="{{id}}">{{nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña:</label>
                    <input id="contrasenaId" type="password" class="form-control" name="contrasena"
                        placeholder="Contraseña" autofocus>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <a id="ingresar" class="btn btn-success btn-block" style="color: white;">Matricular</a>
            <button id="I" class="btn btn-success btn-block" style="display: none;">
                Matricular
            </button>
            <a href="/" class="btn btn-secondary btn-block">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.querySelector('#ingresar').addEventListener('click', () => {
        let nombres = document.getElementById("nombresId").value;
        let documento = document.getElementById("documentoId").value;
        let fecha = document.getElementById("fechaId").value;
        let correo = document.getElementById("correoId").value;
        let apellidos = document.getElementById("apellidosId").value;
        let telefono = document.getElementById("telefonoId").value;
        let contrasena = document.getElementById("contrasenaId").value;

        if (nombres == ""
            | documento == ""
            | fecha == ""
            | correo == ""
            | apellidos == ""
            | telefono == ""
            | contrasena == "") {
            alert("Llene todos los campos o verifique que estos sean correctos");
        } else {
            document.getElementById("I").click();
        }
    });

</script>