<div class="container body_main body_form">
    <br>
    <h2>
        Editar asignatura
    </h2>
    <hr>
    <form action="/actualizar_asignatura/{{asignatura.id}}" method="post">
        <div class="row">
            {{!-- Columna 1 --}}
            <div class="col">
                <div class="form-group">
                    <label for="nombres">Nombre:</label>
                    <input type="text" value="{{asignatura.nombre}}" class="form-control" name="nombre"
                        placeholder="Nombres" autofocus>
                </div>

                <div class="form-group">
                    <label for="fecha_nacimiento">Horas semanales:</label>
                    <input type="text" value="{{asignatura.horas_semanales}}" class="form-control"
                        name="horas_semanales" placeholder="Escriba el numero de horas semanales" autofocus>
                </div>

                {{!-- Grado --}}
                <div class="form-group">
                    <label for="tipo_documento">Grado:</label>
                    <select class="form-control" name="grado" id="grado">
                        <optgroup label="Grado actual">
                            <option value="{{asignatura.grado}}" selected>{{grado_actual.grado}}</option>
                        </optgroup>
                        <optgroup label="Seleccione un grado">
                            {{#each grado}}
                            <option value="{{id}}">{{grado}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
            </div>

            {{!-- Columna 2 --}}
            <div class="col">
                {{!-- Docente --}}
                <div class="form-group">
                    <label for="tipo_documento">Docente:</label>
                    <select class="form-control" name="docente" id="docente">
                        <optgroup label="Docente actual">
                            <option value="{{asignatura.docente}}" selected>{{docente_actual.nombres}}
                                {{docente_actual.apellidos}}</option>
                        </optgroup>
                        <optgroup label="Seleccione un docente">
                            {{#each docente}}
                            <option value="{{documento}}">{{nombres}} {{apellidos}}</option>
                            {{/each}}
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefono">Horas Totales:</label>
                    <input type="text" value="{{asignatura.horas_totales}}" class="form-control" name="horas_totales"
                        placeholder="Escriba el numero de horas totales" autofocus>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group menuButtons">
            <button class="btn btn-success btn-block">
                Actualizar asignatura
            </button>

            <a id="ocultarA" class="btn btn-warning btn-block">Ocultar asignatura</a>
            <a href="/" class="btn btn-secondary btn-block">Cancelar</a>
        </div>
    </form>

    <form action="/ocultarAsignatura/{{asignatura.id}}" method="post" style="visibility: hidden;">
        <button id="ocultar" type="submit" style="visibility: hidden;"></button>
    </form>

    <script>
        document.querySelector('#ocultarA').addEventListener('click', () => {
            Confirm.open({
                title: 'Retirar asignatura',
                message: '¿Desea retirar la asignatura? esta accion puede deshacerse en cualquier momento',
                onok: () => {
                    document.getElementById('ocultar').click();
                }
            })
        });

        const Confirm = {
            open(options) {
                options = Object.assign(
                    {},
                    {
                        title: "",
                        message: "",
                        okText: "Retirar asignatura",
                        cancelText: "Cancelar",
                        onok: function () { },
                        oncancel: function () { },
                    },
                    options
                );

                const html = `
            <div class="confirm">
                <div class="confirm__window">
                    <div class="confirm__titlebar">
                        <span class="confirm__title">${options.title}</span>
                        <button class="confirm__close">&times;</button>
                    </div>
                    <div class="confirm__content">${options.message}</div>
                    <div class="confirm__buttons">
                        <button class="confirm__button confirm__button--ok confirm__button--fill">${options.okText}</button>
                        <button class="confirm__button confirm__button--cancel">${options.cancelText}</button>
                    </div>
                </div>
            </div>
        `;

                const template = document.createElement("template");
                template.innerHTML = html;

                // Elements
                const confirmEl = template.content.querySelector(".confirm");
                const btnClose = template.content.querySelector(".confirm__close");
                const btnOk = template.content.querySelector(".confirm__button--ok");
                const btnCancel = template.content.querySelector(
                    ".confirm__button--cancel"
                );

                confirmEl.addEventListener("click", (e) => {
                    if (e.target === confirmEl) {
                        options.oncancel();
                        this._close(confirmEl);
                    }
                });

                btnOk.addEventListener("click", () => {
                    options.onok();
                    this._close(confirmEl);
                });

                [btnCancel, btnClose].forEach((el) => {
                    el.addEventListener("click", () => {
                        options.oncancel();
                        this._close(confirmEl);
                    });
                });

                document.body.appendChild(template.content);
            },

            _close(confirmEl) {
                confirmEl.classList.add("confirm--close");

                confirmEl.addEventListener("animationend", () => {
                    document.body.removeChild(confirmEl);
                });
            },
        };

    </script>
</div>