<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrar_asignatura">Registrar asignatura</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <br>
    <h2>Lista de asignaturas</h2>
    <hr>

    {{#each grados}}
    {{gradoActual grado}}


    <h3>{{grado}}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Horas semanales</th>
                <th>Horas totales</th>
                <th>Docente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each ../asignaturas}}
            {{#if (ifGradoActual grado)}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{horas_semanales}}</td>
                <td>{{horas_totales}}</td>
                <td>{{docente}}</td>
                <td>
                    <abbr title="Editar asignatura: {{nombre}}">
                        <a href="/editar_asignatura/{{id}}" class="btn btn-secondary btn-block"><i
                                style='font-size:24px' class='fas'>&#xf044;</i></a>
                    </abbr>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>

    {{/each}}

</div>