<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/">Inicio</a>
            </li>
            {{#if user.administrador}}
            <li class="nav-item">
                <a class="nav-link" href="/estudiantes">Lista de estudiantes</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="tabla_notas">
    <h2>Calificaciones estudiante: {{estudiante_actual.nombres}} {{estudiante_actual.apellidos}}</h2>
    <hr>
    <div class="row">
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> {{estudiante_actual.tipo_documento}}: {{estudiante_actual.documento}}
            </h5>
        </div>
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Sede: {{estudiante_actual.sedeA}}
            </h5>
        </div>
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Jornada: {{estudiante_actual.jornadaA}}
            </h5>
        </div>
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Grado: {{estudiante_actual.gradoA}}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Grupo: {{estudiante_actual.grupoA}}
            </h5>
        </div>
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Telefono: {{estudiante_actual.telefono}}
            </h5>
        </div>
        <div class="col">
            <h5><span class="fas">&#xf30b;</span> Correo: <a
                    href="mailto:{{estudiante_actual.correo}}">{{estudiante_actual.correo}}</a>
            </h5>
        </div>
        <div class="col">

        </div>
    </div>
    <hr>
    <p>Nota: al registrar las calificaciones en decimales usar punto en lugar de coma, ejemplo: 3.1</p>
    <p>Nota: no dejar casillas en blanco entre otras con notas, ej :
        <input type="text" class="i_note" value="3.5" disabled> <input type="text" class="i_note" disabled> <input
            type="text" class="i_note" value="4" disabled>
        . Sino asi
        <input type="text" class="i_note" value="3.5" disabled> <input type="text" class="i_note" value="4" disabled>
        <input type="text" class="i_note" disabled>
    </p>

    {{!-- Repetir por cada asignatura del estudiante --}}
    <form action="/actualizar_calificaciones/{{documento}}" method="post">

        {{#if habilitar}}
        {{else}}
        <div class="button_form">
            <button class="btn btn-primary">
                Guardar
            </button>
        </div>
        {{/if}}

        {{#each asignatura}}
        <hr>
        <h4>Asignatura: {{this}}{{asignatura this}}</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Cognitiva 60%</th>
                    <th>Promedio 60%</th>
                    <th>Procedimental 30%</th>
                    <th>Promedio 30%</th>
                    <th>Actitudinal 10%</th>
                    <th>Desempeño periodo</th>
                </tr>
            </thead>
            <tbody>
                {{!-- Por periodos de esa asignatura --}}
                {{!-- "../" representa salir del loop de each asignatura anterior --}}
                {{#each ../cal}}
                {{#if (ifasignatura as)}}
                <tr>
                    <td>{{periodo}}</td>
                    <td>
                        {{!-- cn: Cognitiva --}}
                        {{!-- cnp: Cognitiva posicion de 5 casillas --}}
                        <input type="text" class="i_tn" value="{{cn1}}" name="{{id_asign id ../this periodo " cnp1"
                            cn1}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{cn2}}" name="{{id_asign id ../this periodo " cnp2"
                            cn2}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{cn3}}" name="{{id_asign id ../this periodo " cnp3"
                            cn3}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{cn4}}" name="{{id_asign id ../this periodo " cnp4"
                            cn4}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{cn5}}" name="{{id_asign id ../this periodo " cnp5"
                            cn5}}" {{../../habilitar}}>
                    </td>
                    <td>{{cognitiva}}</td>
                    <td>
                        {{!-- pn: Procedimental --}}
                        {{!-- pnp: Procedimental posicion de 5 casillas --}}
                        <input type="text" class="i_tn" value="{{pn1}}" name="{{id_asign id ../this periodo " pnp1"
                            pn1}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{pn2}}" name="{{id_asign id ../this periodo " pnp2"
                            pn2}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{pn3}}" name="{{id_asign id ../this periodo " pnp3"
                            pn3}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{pn4}}" name="{{id_asign id ../this periodo " pnp4"
                            pn4}}" {{../../habilitar}}>
                        <input type="text" class="i_tn" value="{{pn5}}" name="{{id_asign id ../this periodo " pnp5"
                            pn5}}" {{../../habilitar}}>
                    </td>
                    <td>{{procedimental}}</td>
                    <td>
                        {{!-- cn: Cognitiva --}}
                        {{!-- cnp: Cognitiva posicion de 5 casillas --}}
                        <input type="text" value="{{actitudinal}}" name="{{id_asign id ../this periodo " actitudinal"
                            actitudinal}}" {{../../habilitar}}>
                    </td>
                    <td>
                        {{final}}
                        <input type="text" value="{{final}}" name="{{id_asign id ../this periodo " final" final}}"
                            style="display: none;" {{../../habilitar}}>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                {{!-- /por periodo --}}
            </tbody>
        </table>
        {{/each}}
        {{!-- /Repetir por cada asignatura del estudiante --}}
        {{#if habilitar}}
        {{else}}
        <div class="button_form2">
            <button class="btn btn-primary">
                Guardar
            </button>
        </div>
        {{/if}}
    </form>
</div>