<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/matricular_estudiante" target="_blank">Registrar acudiente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/grupos" target="_blank">Ver grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estudiantes" target="_blank">Ver estudiantes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <br>
    <h2>Lista de acudientes</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Documento</th>
                <th>Parentesco</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Ver acudiente</th>
                {{#if user.administrados}}
                <th>Editar acudiente</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each acudiente}}
            <tr>
                <td>{{nombres}}</td>
                <td>{{apellidos}}</td>
                <td>{{documento}}</td>
                <td>{{parentesco}}</td>
                <td>{{telefono}}</td>
                <td>{{correo}}</td>
                <td>
                    <abbr title="Ver acudiente">
                        <a href="/acudiente/{{documento}}" target="_blank" class="btn btn-secondary btn-block"><i
                                style='font-size:24px' class='fas'>&#xf06e;</i></a>
                    </abbr>
                </td>
                {{#if user.documento}}
                <td>
                    <abbr title="Editar acudiente">
                        <a href="/actualizarAcudiente/{{documento}}" target="_blank"
                            class="btn btn-secondary btn-block"><i style='font-size:24px' class='fas'>&#xf044;</i></a>
                    </abbr>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>