<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <div class="collapse navbar-collapse grupos" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="/">Inicio</a>
            </li>
            {{#if (ifAdmin)}}
            <li class="nav-item">
                <a class="nav-link" href="/registrarGrupo" target="_blank">Registrar grupos</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>
<div>
    <br>
    <div class="grupos">
        <h2>Lista de grupos:</h2>
        <div class="row">
            {{guardarAdmin admin}}
            {{#if (ifAdmin)}}
            {{!-- Codigo para los administradores --}}
            {{#each sede}}
            {{nivelSede nivel}}
            {{sedeActual nombre}}
            <div class="col col_grupos">

                <h3>{{nombre}}</h3>
                <hr>
                {{!-- Sube 1 nivel --}}
                {{#each ../grado}}
                {{gradoActual grado}}
                {{#if (ifNivelSede nivel)}}

                {{!-- Sube 2 niveles --}}
                {{#each ../../grupo}}
                {{#if (ifGrupoSedeGrado sede grado)}}

                <h4>{{grado}}</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Director</th>
                            <th>Jornada</th>
                            <th>Editar</th>
                            <th>Estudiantes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{director}}</td>
                            <td>{{jornada}}</td>
                            <td>
                                <abbr title="Editar grupo">
                                    <a href="/editarGrupo/{{id}}" target="_blank" class="btn btn-secondary btn-block"><i
                                            style='font-size:24px' class='fas'>&#xf044;</i></a>
                                </abbr>
                            </td>
                            <td>
                                <abbr title="Listar estudiantes">
                                    <a href="/estudiantesGrupo/{{id}}" target="_blank"
                                        class="btn btn-secondary btn-block"><i style='font-size:24px'
                                            class='fas'>&#xf03a;</i></a>
                                </abbr>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{/if}}
                {{/each}}

                {{/if}}
                {{/each}}
            </div>
            {{/each}}
            {{!-- Codigo para los docentes --}}
            {{else}}
            <div class="col col_grupos_doc">
                <br>
                <h2>Sede: {{sedeDocente.nombre}}</h2>
                <hr>
                {{nivelSede sedeDocente.nivel}}
                {{#each grado}}
                {{gradoActual grado}}

                {{#each ../gruposSede}}
                {{#if (ifGrupoGrado grado)}}
                <h4>{{grado}}</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Director</th>
                            <th>Jornada</th>
                            <th>Planilla de calificaciones del grupo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{director}}</td>
                            <td>{{jornada}}</td>
                            <td>
                                <abbr title="Planilla de calificaciones del grupo">
                                    <a href="/calificacionesPorGrupo/{{id}}" target="_blank"
                                        class="btn btn-secondary btn-block"><i style='font-size:24px'
                                            class='fas'>&#xf03a;</i></a>
                                </abbr>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{/if}}
                {{/each}}
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</div>